<div id="about">
  <div id="definition">
    <hr>
    <h1>i &middot; chor</h1>
    <p>\ˈī-ˌkȯr, -kər\</p>
    <p class="light">noun | GREEK MYTHOLOGY</p>
    <p>Classical Mythology. An ethereal fluid flowing in the vains of the gods.</p>
    <hr>
  </div>
  <p>Ichor Studios is a web design and development agency that creates compelling websites for small businesses and nonprofits. Working in the Portland, OR and Vancouver, WA area since 2014, we help you tell your story and keep your website constantly up to date.</p>
  <div id="call" class="link" (click)="goTo()">
      <p>It's in our blood</p>
      <i class="fa fa-chevron-down"></i>
  </div>
</div>
<div id="values">
  <h1>What we value</h1>
  <div class="content">
    <table>
      <tr>
        <td class="top"><span class="teal">I</span>ntegrity</td>
        <td class="middle" rowspan="2"><span class="teal">O</span>ptimization</td>
        <td class="top"><span class="teal">C</span>reativity</td>
      </tr>
      <tr>
        <td><span class="teal">H</span>umility</td>
        <td><span class="teal">R</span>espect</td>
      </tr>
    </table>
  </div>
</div>
<div id="story">
  <h1>Our Story</h1>
  <p>Ichor Studios is a small team, and we're more than just a <em>Web Design and Development Agency</em>. We prioritize <em>close realtionships</em> with who we work with more than anything else, so we can bring what's best for each client. We mainly work with <em>small business</em> and <em>nonprofit organizations</em>. We believe small businesses are the lifeblood of any community, and their websites are invaluable bridges that connect them to thier communities. We also believe in giving back, and offer a special discount to two nonprofit organizations each year.</p>

  <p>To provide the best work, CEO Jennifer Qian makes sure each and every team member at Ichor loves their jobs and their lives. She <em>trusts</em> and <em>respects</em> the team and expects each team member to do the same with eachother; because having a <em>strong bond</em> amongst the team creates an <em>enjoyable</em> work environment and a high work <em>efficency</em> as well. Because she values each member's personal growth as well as the growth of Ichor, Jennifer encourages each member to try working in different departments, sometimes even multiple departments at the same time.
  <br>
  We are in the process of studio hunting in the Portland and Vancouver area, and in the future we look forward to grow as a <em>global agency</em> with multiple, small studios throughout the world.
  </p>
</div>
<app-team></app-team>
