<div id="services" class="clearfix">
  <div class="bg"></div>
<div class="col-md-6">
  <div id="service1" class="service">
    <h1>Technology Consulting</h1>
    <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over.</p>
  </div>
  <div id="service2" class="service">
    <h1>Web Design</h1>
    <p>Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally.</p>
  </div>
  <div id="service3" class="service">
    <h1>Branding</h1>
    <p>Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally.</p>
  </div>
</div>
<div class="col-md-6">
  <div id="service4" class="service">
    <h1>Web Development</h1>
    <p>Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally.</p>
  </div>
  <div id="service5" class="service">
    <h1>Integration</h1>
    <p>Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally.</p>
  </div>
  <div id="service6" class="service">
    <h1>Website Maintenance</h1>
    <p>Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally.</p>
  </div>
</div>
</div>
