<div id="services" class="clearfix">
  <div class="bg"></div>
  <div class="col-sm-6">
    <div id="service1" class="service">
      <h1>Web Design</h1>
      <p>Design is a discipline specializing in solutions. Our team of designers will work with you to distill what your website needs to accomplish, and then craft you a custom solution based on your clients.</p>
    </div>
    <div id="service2" class="service">
      <h1>Technology Consulting</h1>
      <p>Do you need a content management system or a static site? A robust databse full of product info? At Ichor, we listen to your needs and help you decide which technology is right for you.</p>
    </div>
    <div id="service3" class="service">
      <h1>Branding</h1>
      <p>Every company has a story, and every company has a different personality. We help you effectively communicate who you are to the people that matter most, your customers.</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="service4" class="service">
      <h1>Web Development</h1>
      <p>The web is always evolving, as are the devices that we view it on. When our developers code your website into creation, they will build it on a foundation that can grow with new web trends and display beautifully on any device.</p>
    </div>
    <div id="service5" class="service">
      <h1>Integration</h1>
      <p>Whether it's connecting your database to your website, or automating email sign-ups, integration makes everything run smoother and makes life easier. Let us help you integrate your already existing technologies into a well-oiled machine.</p>
    </div>
    <div id="service6" class="service">
      <h1>Website Maintenance</h1>
      <p>Your website should be as flexible as you are, now and in the future. Let us guide you through your options, whether it’s a Content Management System that will give you full control of your site, or leaving the dirty work up to us. Never be stuck with an outdated website again.</p>
    </div>
  </div>
</div>
