<div id="blog-single">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <img src="{{(blogPost | async)?.image}}" alt="{{(blogPost |async)?.title}}" class="img-responsive">
      <h4>{{(blogPost |async)?.date}}</h4>
      <hr>
      <h1 class="title">{{(blogPost |async)?.title}}</h1>
      <p>{{(blogPost |async)?.description}}</p>
      <div class="content">
        <markdown *ngIf="blogContent" [data]="blogContent" id="markdown"></markdown>
      </div>
    </div>
  </div>
</div>
