<div id="blog-single">
  <div class="post">
    <div class="header">
      <div class="image">
        <img src="{{(blogPost |async)?.image}}" alt="">
      </div>
      <div class="title">
        <h1>{{(blogPost | async)?.title}}</h1>
      </div>
    </div>
    <div class="content">
      <markdown *ngIf="blogContent" [data]="blogContent" id="markdown"></markdown>
      <hr>
      <div class="categories">
        <h4>Categories:</h4>
        <ul>
          <li *ngFor="let category of postCategories | async">{{category.$value}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
