<div id="contact">
  <div class="col-md-6">
    <div class="section">
      <h1>Email</h1>
      <p>connect@ichorstudios.com</p>
    </div>
    <div class="section">
      <h1>Phone</h1>
      <p>503 208 5855</p>
    </div>
    <div class="section">
      <h1>Social</h1>
      <a href="https://twitter.com/ichorstudios" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.facebook.com/IchorStudiosPDX/" target="-_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://www.instagram.com/ichorstudios/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    </div>
    <hr>
    <app-email></app-email>
  </div>
  <div class="col-md-6">
    <app-messager></app-messager>
  </div>
  <div class="clearfix"></div>
</div>
