.portfolio {
  float: left;
}

.portfolio img {
  width: 100%;
  height: 100%;
}

.bg-square {
  width: 40%;
  height: 100vh;
  float: right;
}

.sm-square {
  width: 20%;
  height: 50vh;
}

.rectangle {
  width: 60%;
  height: 50vh;
}
