<nav [class.scrolled]="rootRoute()" [class.admin]="currentRoute('/admin')">
  <div class="logo">
    <a [class.active]="currentRoute('/')" routerLink="/" routerLinkActive="active">
      <img src="http://ichorstudios.com/assets/img/logo-full.svg" alt="ichor studios logo">
    </a>
  </div>
  <div class="links">
    <a [class.active]="currentRoute('')" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a [class.active]="currentRoute('/services')" routerLink="/services" routerLinkActive="active">Services</a>
    <a [class.active]="currentRoute('/work')" routerLink="/work" routerLinkActive="active">Work</a>
    <a [class.active]="currentRoute('/about')" routerLink="/about" routerLinkActive="active">Ichor Story</a>
    <a [class.active]="currentRoute('/contact')" routerLink="/contact" routerLinkActive="active">Contact</a>
    <a [class.active]="currentRoute('/blog')" routerLink="/blog" routerLinkActive="active">Blog</a>
    <span *ngIf="adminRoute()">
      <a (click)=authService.login() *ngIf="!authService.loggedIn()">Log In</a>
      <a (click)=authService.logout() *ngIf="authService.loggedIn()">Log Out</a>
    </span>
  </div>
  <div id="hamburger" (click)="showNav()">
    <i id="navicon" class="fa fa-navicon"></i>
    <p>menu</p>
  </div>
</nav>
<div id="nav-mobile">
  <i (click)="hideNav()" class="fa fa-times fa-2x"></i>
  <div class="links">
    <a (click)="hideNav()" [class.active]="currentRoute('')" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a (click)="hideNav()" [class.active]="currentRoute('/services')" routerLink="/services" routerLinkActive="active">Services</a>
    <a (click)="hideNav()" [class.active]="currentRoute('/work')" routerLink="/work" routerLinkActive="active">Work</a>
    <a (click)="hideNav()" [class.active]="currentRoute('/about')" routerLink="/about" routerLinkActive="active">Ichor Story</a>
    <a (click)="hideNav()" [class.active]="currentRoute('/contact')" routerLink="/contact" routerLinkActive="active">Contact</a>
    <a (click)="hideNav()" [class.active]="currentRoute('/blog')" routerLink="/blog" routerLinkActive="active">Blog</a>
    <span *ngIf="adminRoute()">
      <a (click)="hideNav()" (click)=authService.login() *ngIf="!authService.loggedIn()">Log In</a>
      <a (click)="hideNav()" (click)=authService.logout() *ngIf="authService.loggedIn()">Log Out</a>
    </span>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <div id="icons">
    <a href="https://twitter.com/ichorstudios" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/IchorStudiosPDX/" target="-_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/ichorstudios/" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
  <div id="copyright">
    <p>Copyright &copy; Ichor Studios 2017</p>
  </div>
</footer>
