<div class="col-sm-3 list">
  <ul class="nav nav-pills">
    <li [class.active]="activeMember(blankMember)" (click)="setMember(blankMember)" (click)="setAction('new')" role="presentation"><a>New Team Member</a></li>
    <li *ngFor="let member of members | async" [class.active]="activeMember(member)" (click)="setMember(member)" (click)="setAction('update')" role="presentation"><a>{{member.name}}</a></li>
  </ul>
</div>
<div *ngIf="currentMember">
  <div class="col-sm-9 edit-form">
    <h1 class="text-center">{{currentAction}} Team Member</h1>
    <hr>
    <div id="form" class="form col-md-6">
      <br>
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="currentMember.name" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Title</label>
        <input [(ngModel)]="currentMember.title" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Text</label>
        <textarea [(ngModel)]="currentMember.text" rows="8" cols="80" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Photo URL</label>
        <button class="btn btn-default" style="margin-bottom: 10px;" data-toggle="modal" data-target="#photoModal">Edit Photo</button>
        <input [(ngModel)]="currentMember.photo" type="text" class="form-control" disabled>
      </div>
      <div *ngIf="currentAction === 'update'">
        <button class="btn btn-info" (click)="updateMember(currentMember)">Update</button>
        <button class="btn btn-danger" (click)="deleteMember(currentMember)">Delete</button>
      </div>
      <div *ngIf="currentAction === 'new'">
        <button class="btn-default btn" (click)="newMember(currentMember)">Add</button>
      </div>
    </div>
    <div id="member" class="col-md-6">
      <h4>{{currentMember.name}}, {{currentMember.title}}</h4>
      <p>{{currentMember.text}}</p>
      <img src="{{currentMember.photo}}" alt="{{currentMember.name}}" style="max-width:400px;max-height:400px;">
    </div>
  </div>
</div>

<div id="photoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Member Photo</h4>
      </div>
      <div class="modal-body">
          <img *ngFor="let photo of photos | async" src="{{photo.url}}" alt="{{photo.name}}" class="editPhoto" [class.currentPhoto]="activePhoto(photo)" (click)="setPhoto(photo)">
        <div class="form-group">
          <label>Upload photo</label>
          <input type="file" (change)="onChange($event)" id="file">
        </div>
        <button class="btn btn-success" (click)="uploadFile()">Upload Photo</button>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" data-dismiss="modal" (click)="selectPhoto()">Select Photo</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
