<div id="blog" class="clearfix">
  <div *ngFor="let post of posts | async | category:currentCategory" class="post">
    <div class="row">
      <div class="col-xs-12">
        <img (click)="goToPost(post)" src="{{post.image}}" alt="{{post.title}}" class="img-responsive">
        <div class="col-xs-8 col-xs-offset-2 text-center">
          <h4>{{post.date}}</h4>
          <hr>
          <h1 (click)="goToPost(post)" class="title">{{post.title}}</h1>
          <p>{{post.description | truncate}}</p>
          <button (click)="goToPost(post)" class="button">Read full article</button>
        </div>
      </div>
    </div>
  </div>
</div>
