@font-face {
  font-family: Branding-Medium;
  src: url('./fonts/Branding-Medium.otf');
}
@font-face {
  font-family: Branding-Black;
  src: url('./fonts/Branding-Black.otf');
}
@font-face {
  font-family: Branding-Semibold;
  src: url('./fonts/Branding-Semibold.otf');
}
@font-face {
  font-family: Branding-Semilight;
  src: url('./fonts/Branding-Semilight.otf');
}
@font-face {
  font-family: Branding-Bold;
  src: url('./fonts/Branding-Bold.otf');
}
@font-face {
  font-family: Branding-Light;
  src: url('./fonts/Branding-Light.otf');
}

body {
  overflow-x: hidden;
}

h1, h2, h3 {
  margin-top: 0 !important;
}

a:hover {
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
}

/*========================= Home Page Styles ===============================*/

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 101px;
  transition: all .3s ease;
}

nav::after {
  display: table;
  clear: both;
  content: ' ';
}

nav .logo {
  margin: 20px;
  display: none;
}

.logo img {
  width: 125px;
}

nav a {
  padding: 16px;
  color: #fff;
  font-family: Branding-Medium;
  font-size: 20px;
}

nav a:hover, nav a:focus {
  color: #fff;
}

nav .links {
  position: absolute;
  right: 25px;
  bottom: 15px;
}

nav.scrolled {
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

nav.scrolled a {
  color: #333;
}

nav.scrolled a:focus {
  color: #BB2A2D;
}

nav.scrolled a.active {
  color: #BB2A2D;
}

nav.scrolled .logo {
  display: inline-block;
}

nav.admin {
  position: relative;
}

nav.admin .links {
  position: static;
  float: right;
  margin-top: 40px;
}

nav.admin .links a{
  font-size: 20px;
}

#hamburger {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: all .3s ease;
  display: none;
  z-index: 998;
  color: #fff;
}

nav.scrolled #hamburger  {
  color: #333;
}

nav #hamburger:hover {
  cursor: pointer;
  color: #2994A4;
}

#hamburger p {
  font-family: Branding-Light;
  display: inline-block;
  position: relative;
  top: -2px;
}

#nav-mobile {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: -1;
  box-shadow: 5px 0px 10px rgba(0,0,0,0.7);
  transition: all .4s ease;
  opacity: 0;
}

#nav-mobile a {
  display: block;
  padding: 20px 10px;
  font-family: Branding-Medium;
  font-size: 28px;
  text-align: center;
  transition: all .4s ease;
  width: 100%;
  padding: 16px;
  color: #333;
  font-family: Branding-Medium;
}

#nav-mobile .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-mobile .fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .3s ease;
}
#nav-mobile .fa-times:hover {
  cursor: pointer;
  color: #BB2A2D;
}

#nav-mobile a:hover, #nav-mobile a:focus, #nav-mobile a.active {
  color: #BB2A2D;
}

@media screen and (max-width: 767px) {
  nav .links {
    display: none;
  }

  nav #hamburger {
    display: block
  }
}

#splash {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

#splash .content {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

#splash h1 {
  margin: 0;
  font-size: 65px;
  color: #FFD36D;
  font-family: Branding-Black;
}

#splash h3 {
  font-family: Branding-Medium;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 0.17px;
}

#splash h2 {
  /* We help you tell who: */
  font-family: Georgia-Italic;
  font-size: 32px;
  color: rgba(255,255,255,0.81);
  letter-spacing: 0;
  line-height: 38px;
}

#splash p {
  /* A bond between an ag: */
  font-family: Branding-Semilight;
  font-size: 18px;
  color: rgba(255,255,255,0.81);
  letter-spacing: 0;
}

#featured-work {
  position: relative;
  min-height: 90vh;
}

#featured-work > .bg {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/ichor-dea55.appspot.com/o/images%2Fportfolio%2Fubr.jpg?alt=media&token=71344a32-8e30-4d71-bef5-cd2b73947b23');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(115%);
  z-index: -1;
}

#featured-work .content {
  z-index: 9;
  padding: 50px;
}

#featured-work h1 {
  /* WE CREATE WORK THAT: */
  font-family: Branding-Black;
  font-size: 48px;
  color: #FFD36D;
  text-transform: uppercase;
}

#description {
  /* Rectangle 7: */
  background: rgba(51, 51, 51, .64);
  margin: 20px 0;
  max-width: 665px;
  padding: 20px;
}

#featured-work h4 {
  /* project name: */
  font-family: Branding-Bold;
  font-size: 24px;
  color: #FFFFFF;
}

#featured-work p {
  /* project description: */
  font-family: Branding-Medium;
  font-size: 19px;
  color: #FFFFFF;
  line-height: 27px;
}

#featured-work a {
  color: #fff;
  text-decoration: underline;
}

#view-more {
  /* View more projects >: */
  font-family: Branding-Semibold;
  font-size: 22px;
  margin-top: 150px !important;
}

#view-more a {
  color: #FFD36D;
}

#where-we-are {
  min-height: 90vh;
  padding: 50px;
}

#where-we-are h1 {
  font-family: Branding-Black;
  font-size: 48px;
  color: #2994A4;
  text-transform: uppercase;
}

#where-we-are .active {
  color: #2994A4;
}

#states {
  margin-bottom: 20px;
}

#states div{
  margin-top: 40px;
  line-height: 26px;
}

#states div:hover {
  cursor: pointer;
}

#states h5 {
  font-size: 24px;
  font-family: Branding-Black;
}

#states p {
  font-size: 16px;
  font-family: Branding-Semilight;
}

.right {
  float: right;
}

@media screen and (max-width: 767px) {
  #states p {
    display: none;
  }

  #states .active p {
    display: block;
  }

  .map {
    height: 67vw;
  }
}

/*========================= Home Page Styles ===============================*/

#about {
  background-color: #000;
  padding-top: 110px;
  min-height: 100vh;
  padding: 50px 50px 0px 50px;
  position: relative;
  overflow: hidden;
}

#about p {
  font-family: Branding-Medium;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 28px;
}

#about p.about-copy {
  margin-bottom: 70px;
}

#definition {
  margin: 25vh 50px 50px 50px;
  padding-left: 20px;
}

#definition hr {
  width: 300px;
  margin: 10px -20px;
  max-width: 100%;
}

#definition h1 {
  font-family: Georgia;
  font-size: 48px;
  color: #FFD36D;
}

#definition p {
  font-family: Branding-Semilight;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 26px;
}

#call {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#call p {
  font-family: Branding-Medium;
  font-size: 18px;
  color: #FFD36D;
  margin-bottom: 0;
}

#call i {
  font-size: 28px;
  color: #FFD36D;
}
#values {
  padding: 50px;
  height: 90vh;
}

#values .col-sm-4 {
  margin: 0;
  padding: 0;
}

#values h1{
  /* what we value: */
  font-family: Branding-Black;
  font-size: 48px;
  color: #2994A4;
}

#values table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 45vh;
}

#values .table-responsive {
  border: none;
}

#values .middle {
  border-left: 2px solid rgba(41,148,164,.2);
  border-right: 2px solid rgba(41,148,164,.2);
}

#values .top {
  border-bottom: 2px solid rgba(41,148,164,.2);
}

#values td {
  font-family: Branding-Bold;
  font-size: 40px;
  color: #333;
}

.teal {
  color: #2994A4;
}

#story {
  background-color: #fff;
  /*min-height: 90vh;*/
  padding: 50px 50px 0 50px;
}

#story h1 {
  margin-bottom: 20px;
  font-size: 65px;
  color: #FFD36D;
  font-family: Branding-Black;
}

#story p {
  font-family: Branding-Medium;
  font-size: 18px;
  color: #333;
  line-height: 28px;
}

#story em {
  font-family: Georgia;
  color: #2994A4;
  font-size: 24px;
}

@media screen and (max-width: 675px) {
  #values td {
    font-size: 18px;
    padding: 5px;
  }

  #values {
    padding: 50px 10px;
    height: auto;
  }
}
/*========================= Team Section Styles ===================*/
#team {
  padding: 50px;
}

#team h1 {
  font-family: Branding-Black;
  font-size: 48px;
  color: #2994A4;
}

#team .member {
  height: 23vw;
  position: relative;
  overflow: hidden;
  padding: 0;
}

#team .member:hover {
  cursor: pointer;
}

#team .bg, #team .alt {
  position: absolute;
  width: 100%;
  height: 100%;
}

#team .alt {
  top: -110%;
  overflow: hidden;
  background: rgba(51,51,51,0.8);
}

#team .alt .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Branding-Medium;
  color: #FFFFFF;
}

#team .alt .content h4, #team .alt .content h5 {
  margin: 0;
}

#team .alt .content h4 {
  font-size: 40px;
}

#team .alt .content h5 {
  font-family: Branding-Light;
  font-size: 16px;
}

#team .bg img, #team .alt img {
  min-width: 100%;
  min-height:100%;
}

@media screen and (max-width:767px) {
  #team .member {
    height: 40vw;
  }
}
/*========================= Team Single Styles ===============================*/

#teamMember {
  padding-top: 110px;
  height: 100vh;
}

#teamMember h1 {
  margin-bottom: 0;
  font-size: 65px;
  color: #333;
  font-family: Branding-Black;
}
#teamMember h3 {
  margin-bottom: 20px;
  font-size: 35px;
  color: #2994A4;
  font-family: Branding-Light;
  font-style: italic;
}

#teamMember p {
  font-size: 18px;
  font-family: Branding-Semilight;
}

#teamMember img {
  max-height: 80vh;
  margin: 0 auto;
}

/*========================= Services Styles ===============================*/
#services {
  padding-top: 101px;
  position: relative;
}

#services .bg {
  background: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?dpr=1&auto=format&fit=crop&w=1500&h=998&q=80&cs=tinysrgb&crop=&bg=') center center no-repeat;
  background-size: cover;
  opacity: .25;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: translateY(-101px);
}

#services .col-sm-6 {
  padding: 0;
}

.service {
  height: 30vh;
  position: relative;
  text-align: center;
  transition: all .3s ease;
}

.service:hover {
  opacity: 1 !important;
  z-index: 1;
}

.service:hover p {
  display: block;
  transition: all .3s ease;
}

.service:hover h1 {
  display: none;
  transition: all .3s ease;
}

.service p {
  display: none;
  font-family: Branding-Medium;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.service h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: Branding-Black;
  font-size: 36px;
}

#service1, #service6 {
  background: #fff;
  opacity: .7;
  color: rgb(51,51,51);
}

#service2 {
  background-color: rgb(255, 211, 109);
  opacity: .7;
  color: #fff;
}

#service3, #service4 {
  background: rgb(41,148,164);
  opacity: .7;
  color: #fff;
}

#service5 {
  background-color: rgb(51, 51, 51);
  opacity: .7;
  color: #fff;
}

#service1 p, #service6 p {
  color: rgba(0,0,0,0.7);
}

#service1:hover {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.3), 7px 0px 10px rgba(0,0,0,0.3);
}

#service2:hover {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.3), 0px -7px 10px rgba(0,0,0,0.3), 7px 0px 10px rgba(0,0,0,0.3);
}

#service3:hover {
  box-shadow: 0px -7px 10px rgba(0,0,0,0.3), 7px 0px 10px rgba(0,0,0,0.3);
}

#service4:hover {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.3), -7px 0px 10px rgba(0,0,0,0.3);
}

#service5:hover {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.3), 0px -7px 10px rgba(0,0,0,0.3), -7px 0px 10px rgba(0,0,0,0.3);
}

#service6:hover {
  box-shadow: 0px -7px 10px rgba(0,0,0,0.3), -7px 0px 10px rgba(0,0,0,0.3);
}

/*========================= Blog Page Styles ===============================*/
#blog {
  padding: 101px 50px 50px 50px;
}

#blog .title {
  font-family: Branding-Black;
  font-size: 48px;
  margin-bottom: 20px;
}

#blog img {
  margin: 0 auto;
}

#blog .title:hover, #blog img:hover, #blog .button:hover {
  cursor: pointer;
}

#blog h4 {
  font-family: Branding-Medium;
  margin-top: 50px;
}

#blog hr {
  border-color: #333;
  width: 33%;
}

#blog .button {
  width: 150px;
  height: 50px;
  transition: all .3s ease;
  border: 1px solid #2994A4;
  background-color: #2994A4;
  margin-top: 20px;
}

#blog .button:hover {
  color: #2994A4;
  background-color: #fff;
}

.post {
  margin-bottom: 100px;
}
/*========================= Blog Single Styles ===============================*/

#blog-single {
  padding-top: 101px;
}

#blog-single hr {
  border-color: #333;
  width: 33%;
}

#blog-single h1.title {
  text-align: left;
  font-family: Branding-Black;
  font-size: 48px;
  margin-bottom: 20px;
}

#blog-single p {
  font-family: Branding-Semilight;
  font-size: 18px;
  color: #333333;
  line-height: 25px;
}

#blog-single h1, #blog-single h2, #blog-single h3, #blog-single h4{
  text-align: center;
  font-family: Branding-Bold;
  margin: 30px !important;
}

#blog-single img {
  display: block;
  margin: 0 auto;
}


/*========================= Work Styles ===============================*/
#work {
  padding-top: 121px;
  padding-right: 20px;
}

.portfolio-item {
  height: 540px;
  position: relative;
  padding: 20px;
}

.portfolio-panel {
  width: 100%;
  height: 100%;
}

.panel-default > .panel-heading {
  padding: 0;
  height: 40%;
  overflow: hidden;
}

.panel-heading img {
  min-height: 100%;
}

.panel-body {
  height: 60%;
  position: relative;
}

#work h2 {
  font-size: 22px;
  text-align: center;
  font-family: Branding-Medium;
}

p {
  font-family: Branding-Light;
  font-size: 18px;
}

.more {
  font-family: Branding-Semibold;
  color: #BB2A2D;
  text-decoration: underline;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.more:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .portfolio-item {
    height: 500px;
  }
}

@media screen and (max-width: 858px) {
  .portfolio-item {
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-item {
    height: 480px;
  }
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio-item {
    height: 520px;
  }
}


#work-single {
  padding: 121px 50px 50px 50px;
}

#work-single .col-sm-5 {
  padding-top: 20px;
}

#work-single h2 {
  text-align: center;
  font-family: Branding-Medium;
}

#work-single h4 {
  font-size: 22px;
  font-family: Branding-Medium;
  color: #2994A4;
  text-align: center;
}

#work-single hr {
  width: 300px;
  border-color: #333;
}

#work-single .splash {
  height: 100vh;
  width: 100%;
  position: relative;
}

#work-single .description {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#work-single .description h2 {
  margin: 3.5em auto;
  font-size: 36px;
}

#work-single .description h4 {
  margin: 1em auto;
}

#work-single .responsive {
  margin: 0 auto;
  display: block;
  position: relative;
}

#work-single a p{
  font-size: 24px;
  text-align: center;
  margin: 0 auto 3.5em auto;
}
/*========================= Services Styles ===============================*/

.services {
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 50%;
}

.services span {
  display: block;
}

.services span::before{
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 100%;
  content: '';
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.services .branding::before {
  background-color: #2994A4;
}

.services .custom::before {
  background-color: #FFD36D;
}

.services .ecommerce::before {
  background-color: #50D567;
}

.services .site-builder::before {
  background-color: #A84DC2;
}

.services p {
  margin: 0;
  font-size: 18px;
  display: inline-block;
}

#ourServices {
  text-align: center;
}

#ourServices div {
  display: inline-block;
  padding: 7px 10px;
  transition: all .5s ease;
  margin: 10px;
  width: 176px;
}

#ourServices div:hover {
  cursor: pointer;
}

#ourServices h3 {
  margin: 0;
  font-family: Branding-Medium;
}

#ourServices .branding {
  background-color: #2994A4;
  color: #fff;
  border: 1px solid #2994A4;
}

#ourServices .branding:hover, #ourServices .branding.clicked {
  color: #2994A4;
  background-color: #fff;
}

#ourServices .custom{
  background-color: #FFD36D;
  color: #fff;
  border: 1px solid #FFD36D;
}

#ourServices .custom:hover, #ourServices .custom.clicked {
  color: #FFD36D;
  background-color: #fff;
}

#ourServices .all{
  background-color: #BB2A2D;
  color: #fff;
  border: 1px solid #BB2A2D;
  padding: 7px 21px;
}

#ourServices .all:hover, #ourServices .all.clicked {
  color: #BB2A2D;
  background-color: #fff;
}

#ourServices .ecommerce{
  background-color: #50D567;
  color: #fff;
  border: 1px solid #50D567;
  padding: 7px 21px;
}

#ourServices .ecommerce:hover, #ourServices .ecommerce.clicked {
  color: #50D567;
  background-color: #fff;
}

#ourServices .site-builder{
  background-color: #A84DC2;
  color: #fff;
  border: 1px solid #A84DC2;
  padding: 7px 21px;
}

#ourServices .site-builder:hover, #ourServices .site-builder.clicked {
  color: #A84DC2;
  background-color: #fff;
}


/*========================= Contact Styles ===============================*/
#contact {
  min-height: 100vh;
  background-color: #000;
  padding: 50px;
}

#contact h1 {
  /* Email: */
  font-family: Branding-Black;
  font-size: 48px;
  color: #2994A4;
  text-transform: uppercase;
}

#contact h2 {
  /* Tell us what is on y: */
  font-family: Branding-Bold;
  font-size: 30px;
  color: #2994A4;
}

#contact p {
  /* connect@ichorstudios: */
  font-family: Branding-Medium;
  font-size: 24px;
  color: #FFD36D;
}

#contact i {
  color: #FFD36D;
  padding: 5px;
  transition: all .3s ease;
}

#contact i:hover {
  color: #2994A4;
}

.section {
  margin: 20px 0;
}

.button {
  font-family: Branding-Bold;
  font-size: 15px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #000;
  padding: 5px 10px;
}

#email {
  margin-bottom: 50px;
}

#email input {
  border: none;
  border-bottom: 1px solid #FFFFFF;
  font-family: Branding-Semilight;
  font-size: 18px;
  color: rgba(255,255,255,0.60);
  background-color: transparent;
  width: 300px;
}

#messager input{
  padding: 5px;
  width: 100%;
  /* Name: */
  font-family: Branding-Medium;
  font-size: 20px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 10px;
}

#messager textarea {
  width: 100%;
  font-family: Branding-Medium;
  font-size: 20px;
  color: #333333;
  margin-bottom: 15px;
}



/*========================= Footer Styles ===============================*/
body {
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}

footer {
  background: linear-gradient(to right, #FF1E1E, #AE2C31);
  min-height: 50px;
  color: #fff;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer #icons {
  float: left;
  font-size: 24px;
}

footer #icons a {
  color: #fff;
  transition: all .3s ease;
}

footer #icons a:hover {
  color: #2994A4;
}

footer #copyright {
  margin-top: 5px;
  float: right;
}

#copyright p {
  margin: 0;
}





#admin {
  padding: 20px 0;
}

.nav-pills {
  padding: 0;
}

.nav-pills li {
  max-width: 100%;
  padding-left: 10px;
}

.nav-pills li a {
  font-family: Branding-Medium;
  font-size: 22px;
  border-radius: 0 !important;
  color: #333;
}

.nav-pills > li.active > a {
  background-color: #ddd !important;
  color: #333 !important;
}

.list {
  padding: 20px 0 !important;
}

.nav-pills li {
  width: 100%;
}

#photoModal img, #photoOpenModal img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.currentPhoto {
  border: 5px solid #ccc;
  width: 110px !important;
  height: 110px !important;
  margin: 5px !important;
}

.edit-form {
  border-left: 1px solid #ccc;
  min-height:100vh;
  padding: 10px 50px;
}

.nav-tabs li {
  font-family: Branding-Medium;
  font-size: 18px;
}
.nav-tabs li a {
  color: #333;
}
