<div id="splash">
  <div class="content">
    <h1>Ichor Studios</h1>
    <h3>Tech Consulting | Branding | Web Design &amp; Development</h3>
    <h2><em>We create compelling websites for small businesses and non-profits</em></h2>
    <p>A bond between an agency and a client is often undervalued, but for Ichor, it's all about creating strong bonds with clients.
    <br>If we know you better, we can help your communities get to know you better too.</p>
  </div>
</div>
<div id="featured-work">
  <div class="bg"></div>
  <div class="content">
    <h1>We create work that lasts</h1>
    <div id="description">
      <h4>Featured Project: Uptown Barrel Room</h4>
      <p>Uptown Barrel Room is Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free. <a href="http://www.uptownbarrelroom.com/" target="_blank">Click to view website</a></p>
    </div>
    <h3 id="view-more"><a routerLink="/work" routerLinkActive="active">View more projects >></a></h3>
  </div>
</div>
<div class="clearfix"></div>
<div id="where-we-are">
  <h1>Where we are</h1>
  <div id="states" class="col-xs-12 col-sm-4 col-sm-push-8">
    <div (click)="setState('office')" class="col-sm-12" [class.active]="getState('office')" id="office">
      <h5>Our Office</h5>
      <p>Two days out of the week we work in our space in Vancouver, WA.</p>
    </div>
    <div (click)="setState('coffee')" class="col-sm-12" [class.active]="getState('coffee')" id="coffee">
      <h5>Coffee Shops</h5>
      <p>Sometimes we love to just meet up and enjoy some of the incredible coffee shops Portland has to offer. Our favorite lately has been <a href="https://www.casestudycoffee.com/" target="_blank">Case Study Coffee</a></p>
    </div>
    <div  (click)="setState('remote')" class="col-sm-12" [class.active]="getState('remote')" id="remote">
      <h5>Remote</h5>
      <p>We believe that we work best when we're comfortable. Whether that means in your PJ's with some tea, or even choosing to work in another state, we encourage our employees do whatever is comfortable for them.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-pull-4">
    <iframe class="map" [class.hide]="hideState('office')" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3318.4027280829814!2d-122.54100869096314!3d45.62203337803654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb432ce38f0a863f0!2sPark+Towers!5e0!3m2!1sen!2sus!4v1494383353282" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <iframe class="map" [class.hide]="hideState('coffee')" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.571284025684!2d-122.65331458495304!3d45.558949179102235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a71f2ffdbcf7%3A0x7223b26591a70c4e!2sCase+Study+Coffee+Roasters!5e0!3m2!1sen!2sus!4v1494383950085" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <iframe class="map" [class.hide]="hideState('remote')" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12284700.927513316!2d-99.82316243668238!3d37.385033170172136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1494384857456" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="clearfix"></div>
</div>
<app-contact></app-contact>
<div class="clearfix"></div>
